@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-ink font-body antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-display;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-md;
  }
}

/* Scroll bonito */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #f4afc8;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ec8fb4;
}
